pipeline/PL_data_ingestion_adhoc_csv.json
{
	"name": "PL_data_ingestion_adhoc_csv",
	"properties": {
		"description": "ingest event-driven (adhoc) csv files to the data engineering datalake",
		"activities": [
			{
				"name": "Get Container Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_abls_buyalot_files_metadata_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.sourceContainer",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName",
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter By Filetype",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Container Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Container Metadata').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,concat('.',pipeline().parameters.fileType))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": []
			}
		],
		"parameters": {
			"sourceContainer": {
				"type": "string",
				"defaultValue": "finance"
			},
			"fileType": {
				"type": "string",
				"defaultValue": "csv"
			}
		},
		"annotations": []
	}
}