pipeline/PL_data_ingestion_json_v5.json
{
	"name": "PL_data_ingestion_json_v5",
	"properties": {
		"description": "Ingest webstore online sales data into the Data Lake",
		"activities": [
			{
				"name": "Copy Web Store Online Sales Data",
				"description": "Copy Online Sales Data from the Web Store and Ingest to Data Lake",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_abls_buyalot_json",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_adls_data_engineering_json",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set Success Satus",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy Web Store Online Sales Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_status",
					"value": "Success"
				}
			},
			{
				"name": "Set Failed Satus",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Copy Web Store Online Sales Data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_status",
					"value": "Failed"
				}
			},
			{
				"name": "Log Pipeline Metadata - Success",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Success Satus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_utils_log_pipeline_metadata",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"snapshotDate": {
							"value": "@formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd')",
							"type": "Expression"
						},
						"status": {
							"value": "@variables('v_status')",
							"type": "Expression"
						},
						"runID": {
							"value": "@pipeline().parameters.runID",
							"type": "Expression"
						},
						"sourceToTargetID2": {
							"value": "2",
							"type": "Expression"
						},
						"pipelineTriggerTime": {
							"value": "@convertFromUtc(pipeline().TriggerTime,'SA Pacific Standard Time')",
							"type": "Expression"
						},
						"pipelineID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"systemCode": {
							"value": "@pipeline().parameters.systemCode",
							"type": "Expression"
						},
						"datasetName": {
							"value": "@pipeline().parameters.datasetName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Log Pipeline Metadata - Failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Failed Satus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_utils_log_pipeline_metadata",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"snapshotDate": {
							"value": "@formatDateTime(pipeline().parameters.snapshotDate,'yyyy-MM-dd')",
							"type": "Expression"
						},
						"status": {
							"value": "@variables('v_status')",
							"type": "Expression"
						},
						"runID": {
							"value": "@pipeline().parameters.runID",
							"type": "Expression"
						},
						"sourceToTargetID2": {
							"value": "2",
							"type": "Expression"
						},
						"pipelineTriggerTime": {
							"value": "@convertFromUtc(pipeline().TriggerTime,'SA Pacific Standard Time')",
							"type": "Expression"
						},
						"pipelineID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"systemCode": {
							"value": "@pipeline().parameters.systemCode",
							"type": "Expression"
						},
						"datasetName": {
							"value": "@pipeline().parameters.datasetName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"systemCode": {
				"type": "string",
				"defaultValue": "OWS"
			},
			"datasetName": {
				"type": "string",
				"defaultValue": "Sales"
			},
			"runID": {
				"type": "string",
				"defaultValue": "1"
			},
			"snapshotDate": {
				"type": "string",
				"defaultValue": "2021-07-11"
			}
		},
		"variables": {
			"v_status": {
				"type": "String",
				"defaultValue": "Success"
			}
		},
		"folder": {
			"name": "Building the Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-25T17:56:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}